Task 1: Data Preprocessing

In [ ]:
# importing important libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [18]:
# reading the data 
df = pd.read_csv(r"C:\Users\Lenovo\Desktop\MLAssessmentTask\stocks.csv")
df

,timestamp,name,last,high,low,chg_,chg_%,vol_,time
0,2025-12-01 18:30:03,3M,170.60,171.98,170.49,-1.45,-0.84%,228.02K,10:28:00
1,2025-12-01 18:30:03,Caterpillar,571.76,575.59,568.03,-4.00,-0.69%,291.18K,10:28:21
2,2025-12-01 18:30:03,JPMorgan,310.97,314.04,310.86,-2.11,-0.67%,1.15M,10:28:25
3,2025-12-01 18:30:03,Chevron,153.31,153.95,151.50,2.18,+1.44%,1.55M,10:28:46
4,2025-12-01 18:30:03,Microsoft,486.85,488.76,484.65,-5.16,-1.05%,4.48M,10:28:48
...,...,...,...,...,...,...,...,...,...
246353,2025-03-17 00:45:59,Microsoft,388.56,390.23,379.51,9.79,+2.58%,19.95M,14/03
246354,2025-03-17 00:45:59,Coca-Cola,69.16,69.26,68.38,-0.46,-0.66%,14.21M,14/03
246355,2025-03-17 00:45:59,Chevron,157.02,157.24,153.01,3.41,+2.22%,6.67M,14/03
246356,2025-03-17 00:45:59,J&amp;J,162.81,163.15,161.10,-0.18,-0.11%,6.24M,14/03
246357,2025-03-17 00:45:59,3M,150.41,150.79,147.06,4.31,+2.95%,4.09M,14/03

In [19]:
df.shape

(246358, 9)

In [20]:
df.describe()

                last           high            low           chg_
count  246358.000000  246358.000000  246358.000000  246358.000000
mean      239.473136     241.842153     236.898991       0.151846
std       146.410577     147.830583     144.743443       5.420548
min        38.400000      38.920000      38.390000    -134.930000
25%       121.410000     122.160000     120.280000      -1.280000
50%       224.240000     226.490000     221.880000       0.170000
75%       313.080000     314.960000     309.560000       1.800000
max       838.970000     841.280000     828.320000      69.690000

In [21]:
# checking for missing values
# Clean the data and handle missing values : for this task we not have any missing values here 
df.isnull().sum()

timestamp    0
name         0
last         0
high         0
low          0
chg_         0
chg_%        0
vol_         0
time         0
dtype: int64

In [22]:
df['timestamp'].dtype
# here the data type of this particular column is of Object type

dtype('O')

In [23]:
# converting the timestamp column to proper datetime format 
df['timestamp']=pd.to_datetime(df['timestamp'], format= '%Y-%m-%d %H:%M:%S')

In [24]:
df['timestamp'].dtype
# now the dtype has been converted into the date time formate

dtype('<M8[ns]')